body{
    margin: 0;
}
h1{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}
h2{
    color: rgb(255, 208, 1);
    font-family: 'Caveat', cursive;
}
.head-color1{
    color: rebeccapurple;
}
.blue{
    color: maroon;
}
.red{
    color: cyan;
}
.exp-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 20px 20px 60px  grey;
    border-left: 5px solid maroon;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.exp{
    font-family: 'Yanone Kaffeesatz', sans-serif; 
    color: rgb(92, 89, 89);
}
.about-dream{
color: rgb(253, 92, 253);
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.target{
    color: rgb(252, 164, 0);
}
p{
    font-family: 'Yanone Kaffeesatz', sans-serif; 
    color: rgb(110, 110, 110);
    font-size: 20px;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 75%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(42, 1, 88), rgb(224, 130, 212));
    padding: 10px 15px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-family: 'Patrick Hand', cursive;
}
.link-key{
    text-decoration: none;
    background-image: linear-gradient(rgb(243, 131, 187), rgb(134, 96, 223));
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-family: 'Patrick Hand', cursive;
}
.top-side{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
#exp-one{
    border-left: 7px solid;
    border-image: linear-gradient(maroon, red);
    border-image-slice: 1;
}
#exp-two{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}